@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.navbar {
  height: 100vh;
  width: 200px;
  background-color: #29335c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: auto;
}

nav ul li {
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
  position: absolute;
  left: 200px;
  /* margin-left: 200px; */
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/pic1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-form {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.contact-heading {
  font-size: 24px;
  font-weight: bold;
  color: #29335c;
  margin-bottom: 20px;
  margin-left: 125px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 4px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  height: 150px;
}

button[type="submit1"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #29335c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 135px;
  
}
.social-logos {
  display: flex; 
  justify-content: center;
  margin-top: 30px;
}

.social-logos a {
  margin: 0 40px; 
  color: black;
}
.logo-img1
{
margin-top: 45px;
margin-left: 45px;
margin-bottom: 50px;
width: 100px; 
height: 100px; 
}
.bottom {
  margin-right: 40px;
  width: 100%;
  padding: 10px;
  background-color: #29335c;
  margin-top: 370px ;
}
.mid
{
  margin-left: 30px;
}